h1 {
	color: purple;
}
.logo {
	display: block;
		margin: auto;

}
.logo img {
	margin: auto;
	height: 100%;
	/*width: 266px;*/
}

.container-fluid {
	padding-top: 40px;
	margin-right: 6vw; 
	margin-left: 6vw;
}

#menu {
	padding: 1.5rem;
}